# Build results
bin/
obj/
*.dll
*.exe

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# VS Code and Rider
.vscode/
.idea/

# Logs
*.log

# Secrets
appsettings.Development.json
secrets.json

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Publish output
wwwroot/lib/bootstrap/
wwwroot/lib/jquery/

# Others
*.db
*.bak
*.zip
*.7z
*.tmp
